@charset "UTF-8";

.book_detail_top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 20%;	
}

.book_summary {
	flex: 1;
	margin: 0 200px;
}

.book_detail_thumb_image {
	width: 250px;
	height: 400px;
}

.book_detail_price {
	font-size: 23px;
	font-weight: bold;
}

.book_summary span,
.book_summary a {
    display : block;
    margin-top : 20px;
}
.book_summary a {
    margin-right : 10px;
}
.book_detail_btn_wrap {
    display: flex;
}

.nav {
    margin-top: 100px;
    margin-left: 10%;
    font-size: 23px;
    width: 100%
}

.nav_button_review {
	padding-left: 50px;
}
 
.nav a,
.btn_detail_purchase,
.btn_detail_review {
	text-decoration: none;
}

.detail, .review {  
    width: 80%;
    margin: 0 auto;
}

.book_detail_image, .review_title {
    max-width: 80%; 
    max-height: 100%;
    display: block;
    margin: 40px auto; 
    width: 50%;
}

.book_description_title,
.review {
	margin-top: 40px;
}

/*버튼 바탕색 및 텍스트 색 변경 필요*/
.detail_btn_top {
	position: fixed;
	bottom: 20px; 
    right: 20px; 
    z-index: 999; 
    width: 50px; 
    height: 50px; 
    background-color: black; 
    color: gray;
    border: none; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 50px; 
    font-size: 20px;
}

.review_data span {
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.review_data div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination {
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 200px;
}

/*페이지번호 색 수정 필요*/
.page-link {
    padding: 8px 12px; 
    margin: 0 3px; 
    background-color: white; 
    border-radius: 3px; 
    text-decoration: none; 
    cursor: pointer; 
}

.page-link:hover {
    background-color: yellow; 
}

.page-link.active {
    background-color: pink; 
}

#moreBtn, #lessBtn {
	border: none;
    background-color: transparent;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
}

#lessBtn {
	display: none;
}
.review_table td{
    border : none;
    border-bottom: 0.5px solid var(--white);
    padding : 20px;
}
.review_table td:first-child{
    width : 100px;
}
.review_table hr{
    display: none;
}
.btn_detail_purchase{
    border-bottom: 1px solid var(--white);
}