.main-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* banner */
#banner__img {
    position: absolute;
    right : 0;
    display: block;
    width : 80%;
    top : 350px;
}
#banner__text{
    font-family: "Diphylleia", serif;
    position : absolute;
    left : 50px;
    padding : 30px;
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}

/* today's book */
.recommend{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    padding : 20px;
}
.recommend .book{
    display: flex;
    align-items: center;
    padding : 40px 160px;
}
.recommend__date{
    font-size: 18px;
}
.book__col:first-child img{
    width : 250px;
    margin-right: 100px;
}
.book__col:last-child{
    display: flex;
    flex-direction: column;
}
.book__col:last-child span{
    padding-bottom : 30px;
}
.book__col:last-child .book__title{
    font-size: 30px;
}
.book__col:last-child .book__author{
    font-size: 20px;
    opacity: 0.8;
}
.book__col:last-child .book__price{
    font-size: 20px;
}
.book__col:last-child .book__detail{
    font-size: 17px;
}
.book__title,
.book__author,
.book__price{
    font-family: "Diphylleia", serif;
}
.book__detail{
    font-weight: 100;
}


/* buttons */
.many_buttons{
    display: flex;
    margin-top: 500px;
}
.many_buttons button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-green);
    border: none;
    color : var(--white);
    padding : 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 17px;
    margin : 5px;
}
.many_buttons button i{
    margin-bottom: 5px;
}

/* ad */
.ad{
    font-family: "Diphylleia", serif;
    display: flex;
}
.ad div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-green);
    width : 550px;
    border-radius: 20px;
    padding-left: 50px;
    margin : 20px;
    cursor: pointer;
}

/* hot */
.hot{
    font-family: "Diphylleia", serif;
    margin-top: 30px;
}
.hot__books{
    display: flex;
}
.hot__title{
    padding : 30px;
    font-size: 30px;
    font-weight: 600;
}
.hot__book{
    margin : 30px;
    padding-top : 10px;
    width : 250px;
    display : flex;
    flex-direction: column;
}
.hot__book div{
    display: flex;
    flex-direction: column;
    margin-top : 10px;
}
.hot__title-small{
    font-size: 18px;
    font-weight: 600;
}