/* 메인 컨테이너 스타일 */
.post-form-box {
    max-width: 1000px; /* 최대 너비 설정 */
    margin: 0 auto;
    font-family: "Diphylleia", serif;
    padding: 2rem;
    transform: translateY(-20px);
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 1.5rem;
}

/* 라벨 스타일 */
label {
    display: block; 
    margin-bottom: 0.5rem;
    font-size: 20px; 
    padding-bottom: 10px;
}

/* 입력 필드 스타일 */
.form-group input[type="text"],
select,
textarea {
    width: 100%; 
    padding: 14px; 
    font-size: 1rem; 
    border-radius: 10px;
}

/* 취소 버튼 스타일 */
#cancel-button {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

/* 취소 버튼 호버 스타일 */
#cancel-button:hover {
    background-color: darkred;
}

.button-group {
    display: flex;
    justify-content: flex-end; /* 버튼 그룹을 오른쪽으로 정렬 */
    margin-top: 1rem;
}

/* 등록 버튼 스타일 */
.button-group button[type="submit"] {
	background-color: #28a745;
    color: #fff; 
    border: none; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-right: 0.5rem; /* 등록 버튼과 취소 버튼 사이에 공간을 줌 */
}

.button-group button[type="submit"]:hover {
    background-color: #218838;
}