.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 10px 0;
}
.screen-header span{
    font-size: 35px;
    font-weight: 600;
}
.screen-header__logo{
    width : 300px;
    height : 100px;
}
.screen-header__search{
    width : 700px;
    /* width: 70%; */
    display: flex;
    padding : 10px 25px;
    align-items: center;
    position: relative;
    /* box-sizing: border-box; */
}
.screen-header__search input{
    font-size : 18px;
    padding : 15px;
    padding-left: 30px;
    width : 100%;
    border :1px solid var(--white);
    border-radius: 25px;
}
.screen-header__search i{
    position : absolute;
    right : 50px;
    color : var(--green);
    cursor: pointer;
}
